header{
  
    width: 100%;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.container{
    height: 75px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 44px;
    max-width: 1200px;
    margin-inline: auto;

}


#dark{
    margin-top: 16px;
    cursor: pointer;
}
.changethetheme{
    background-color: rgb(158, 154, 154);
}
.fi{
    font-size: 24px;
    font-weight: 800;
}
.right{
    display: flex;
    /* font-size: 16px; */
}
*{
    /* margin: 0; */
    font-family: Nunito, sans-serif;
}

@media (max-width:460px) {
    .fi{
        font-size: 15px;
    }
    .themename{
       font-size: 14px;
    }
    .container{
        padding-left: 7px;
        padding-right: 5px;
    }
}